<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>小枫图搜</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="../views/css/font-awesome.min.css">
	<link rel="stylesheet" href="../views/css/animate.min.css">
	<link rel="stylesheet" href="../views/css/templatemo-style.css">
	<link href="../views/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	    
</head>
<body>
	<!-- start preloader -->
	<div class="preloader">
		<div class="sk-spinner sk-spinner-three-bounce">
			<div class="sk-bounce1"></div>
			<div class="sk-bounce2"></div>
			<div class="sk-bounce3"></div>
		</div>
	</div>
	<!-- end preloader -->
	<!---start-countdown-timer-->
	<section id="countdown">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="img-responsive center-block img-circle" style="top:10px;border:3px solid white;box-shadow: 4px 4px 4px 1px #000000"  data-wow-delay="1.0s" src="../views/images/logo.png">
					<h1 class="wow bounceIn" data-wow-delay="1.2s" >小 枫 图 搜 </h1>
					<h2 class="element">
						<span class="sub-element">本地Tesseract驱动的图像识别技术</span>
						<span class="sub-element">以图搜字：仅通过上传图片就帮您识别图内语言字体内容</span>
						<span class="sub-element">并对识别出的关键字进行全网搜索</span>
						<span class="sub-element">还有，还有，还有...更多精彩等你图搜！哄！哄！哄！</span>
					</h2>


					<!-- upload form -->
					<!-- <form action="" method="post" enctype="multipart/form-data">
					设置enctype：上传二进制数据; form里面的input的值以2进制的方式传过去。 
						
						<div class="a_upload"><i class="fa fa-upload"></i>  上传所需要搜索的字体图片
							<input type="file" accept="image/png,image/gif, image/jpeg, image/tiff" name="upload">
						</div>


						限定只能上传的图片数据格式 

						<div class="form-control" style="float:right ;width:120px">
							
								 <input type="submit" value="图搜一下">
							
						</div>
					</form>  -->
					<!-- upload form -->




				<!-- Demo Upload  -->
				<form action="" method="post" enctype="multipart/form-data">

                	<div class="form-group">
                    	<input type="file" class="file" name="upload" id="test-upload" accept="image/png,image/gif, image/jpeg, image/tiff" multiple >
                    <div id="errorBlock" class="help-block"></div>
                	</div>
           		</form> 

                 


				



				</div>
			</div>
		</div>
	</section>
	<!---End-countdown-timer-->
	
	<!-- start features -->
	<section class="features text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title wow bounceIn">
						<h2>更多 小枫系列作品</h2>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
						<i class="fa fa-pencil"></i>
						<h4 class="text-uppercase"><a href="http://daijiale.github.io/">小枫Blog</a></h4>
						<p>小枫记录自己成长和原创技术心得的极客空间（GeekZone），从QQ空间搬到自己写的Blog架构下，一共经历了2年的维护、更新、运营。（2013-至今）</p>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.8s">
						<i class="fa fa-camera"></i>
						<h4 class="text-uppercase"><a href="http://daijialewebdesign.sinaapp.com/XiaoFengSheYing/index.html">小枫摄影</a></h4>
						<p>2015.10.18日上线的，旨在更好的展示和保存一些自己的摄影作品，也分享一些好的摄影伙伴友链（其实，就是换一个地方装逼而已...低调、低调）！</p>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="1.0s">
						<i class="fa fa-book"></i>
						<h4 class="text-uppercase"><a href="http://daijialewebdesign.sinaapp.com/XiaoFengJieWu/index.html">小枫街舞</a></h4>
						<p>2016.3.2日制作完成，是自己舞蹈视频的一份网页专辑，有兴趣可以点击上方链接，看看这个单页应用。</p>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="1.2s">
						<i class="fa fa-question"></i>
						<h4 class="text-uppercase">小枫**</h4>
						<p>未来，一切都是未知，我只想说：生命不息，创作不止...</p>
					</div>
				</div>
			</div>
		</div>
	</section> 
	<!-- end features -->



	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="text-align:center">
					<p class="templatemo-copyright">Copyright © 2016 <a href="http://www.daijiale.cn/" target="_blank" title="Dave">JialeDai</a> </p>
					<ul class="social_icon">
						<li><a href="http://7xi6qz.com1.z0.glb.clouddn.com/weixincardpersoncard.png" class="fa fa-wechat"></a></li>
						<li><a href="http://weibo.com/3173290371/profile?rightmod=1&wvr=6&mod=personinfo" class="fa fa-weibo"></a></li>
					</ul>
				</div>						
			</div>
		</div>
	</footer>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../views/js/jquery.js"></script>
	<script src="../views/js/bootstrap.min.js"></script>
	<script src="../views/js/wow.min.js"></script>
	<script src="../views/js/typed.js"></script>
	<script src="../views/js/custom.js"></script>
	<script src="../views/js/fileinput.js"></script>
	<script src="../views/js/fileinput_locale_zh.js"></script>

	 <script>
	    $(document).ready(function() {
	        $("#test-upload").fileinput({
	            'showPreview' : true,
	            'allowedFileExtensions' : ['jpg', 'png','gif'],
	            'elErrorContainer': '#errorBlock'
	        });
	        /*
	        $("#test-upload").on('fileloaded', function(event, file, previewId, index) {
	            alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
	        });
	        */
	    });
		</script>
</body>
</html>